<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catalogo Premi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button tab="catalogo">
        <ion-label>Catalogo</ion-label>
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="wishlist">
        <ion-label>Lista Desideri</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
