ion-content {
    --background: url('~src/assets/img/Backgroundimg.jpg');
}

.back-button {
    --color: black;
    --color-activated: #E94E58;
    text-transform: none;
}

form{
    text-align: center;
}
