<app-customheader></app-customheader>

<ion-content padding>

  <ion-button fill="clear" class="back-button" (click)="dismissModal()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Pagina iniziale
  </ion-button>

  <form formGroup="scontrinoform" id="form_scontrino" (submit)="inviaScontrino()" padding>
    <p>Inserisci il codice che trovi sullo scontrino:</p>
    <ion-input name="codice_scontrino" type="text" placeholder="codice scontrino"></ion-input>
    <ion-button type="submit">Invia</ion-button>
  </form>

</ion-content>