<app-customheader></app-customheader>

<ion-content padding>

  <ion-button fill="clear" class="back-button" routerLink="/home">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Pagina iniziale
  </ion-button>

  <form #f="ngForm" (ngSubmit)="inviaScontrino(f)">
    <p>Inserisci il codice che trovi sullo scontrino:</p>
    <input name="codicescontrino" clearInput ngModel type="text" placeholder="Inserisci codice" required="True" class="inputscontrino"/>
    <br />
    <ion-button type="submit" color="danger" class="buttonscontrino">Conferma</ion-button>
  </form>

</ion-content>
