<app-customheader></app-customheader>

<ion-content padding>

  <ion-button fill="clear" class="back-button" routerLink="/home">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Pagina iniziale
  </ion-button>

  <div id="form_scontrino">
    <p>Inserisci il codice che trovi sullo scontrino:</p>
    <ion-input clearInput type="text" placeholder="Inserisci codice" required="True" class="inputscontrino"></ion-input>
    <br />
    <ion-button type="submit" color="danger" class="buttonscontrino">Conferma</ion-button>
  </div>

</ion-content>
