<ion-content padding>
    <h2>Catalogo Premi</h2>
        <div class="saldo">
            <button class="coin">
                <img class="img-coin" src="../../../../assets/img/coin.svg">
                <div class="your-coin">I tuoi crediti: 1000</div>
            </button>
        </div>
        <ion-searchbar animated mode="ios" class="barra-ricerca" placeholder="Cerca Buono"></ion-searchbar>
    <div class="divider-container">
        <hr class="divider">
    </div>
    <div class="vaucher-container">
        <ion-grid class="grid">
            <ion-row>
                <ion-col class="col-grid" size="6" size-lg="3" *ngFor="let vaucher of vauchers">
                    <ion-card class="vaucher pointer" (click)="showDetailModal(vaucher)">
                        <img src="./assets/img/lamarianna.png"/>
                        <ion-card-content>
                                <h3>{{ vaucher.descrizione }}</h3>
                           <p> Costo: {{ vaucher.costo_punti }} PTC</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
