<ion-content padding>
    <h2>Catalogo Premi</h2>
    <div class="container">
        <div class="saldo">I tuoi crediti:
            <div class="coin">1000</div>
        </div>
        <div class="filtri">
            <ion-icon name="search" size="large" style="margin: 5px;"></ion-icon>
            <ion-icon name="options" size="large" style="margin: 5px;"></ion-icon>
        </div>
    </div>
    <div class="divider-container">
        <hr class="divider">
    </div>
    <div class="vaucher-container">

    </div>
</ion-content>
