<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>I Miei Buoni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    <ion-tab-bar slot="top">
      
      <ion-tab-button tab="dariscattare">
        <ion-label>Da Riscattare</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="utilizzati">
        <ion-label>Utilizzati</ion-label>
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-tab-button>
    
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
