<ion-content>
  <img class="logo" src="../../assets/img/logoPotacoin.png" width=50 alt="logo">
  <div class="titolo">POTACOIN</div>

  <div style="margin-top:50px;">
    <form #f="ngForm" (ngSubmit)="doLogin(f)">
      <input placeholder="E-mail" ngModel type="text" name="username" class="input" required><br>
      <input placeholder="Password" ngModel type="password" name="password" class="input" required ><br>
      <button ion-button type="submit" value="Login" class="login" [disabled]="!f.valid">Login</button>
    </form>

  </div>
  <div style="margin-top: 50px;">
    <div class="chicosa">Accedi con:</div>
    <img class="google" src="../../assets/icon/googleicon.png" alt="googleicon" routerLink="/home">
    <img class="facebook" src="../../assets/icon/facebookicon.png"  alt="facebookicon" routerLink="/home">
  </div>
</ion-content>
