<ion-content>
  <img class="logo" src="../../assets/img/logoPotacoin.png" width=50 alt="logo">
  <div class="titolo">POTACOIN</div>

  <div style="margin-top:50px;">
    <form (ngSubmit)="doLogin()">
      <input placeholder="E-mail" type="email" name="email" class="input"><br>
      <input placeholder="Password" type="password" name="password" class="input"><br>
      <input type="submit" value="Login" class="login">
    </form>

  </div>
  <div style="margin-top: 50px;">
    <div class="chicosa">Accedi con:</div>
    <img class="google" src="../../assets/icon/googleicon.png" alt="googleicon" routerLink="/home">
    <img class="facebook" src="../../assets/icon/facebookicon.png"  alt="facebookicon" routerLink="/home">
  </div>
</ion-content>
