<ion-content>
  <img class="logo" src="../../assets/img/logoPotacoin.png" width=50 alt="logo">
  <div class="titolo">POTACOIN</div>

  <div style="margin-top:20px;">
    <form #f="ngForm" (ngSubmit)="doSignup(f)">
      <input placeholder="Nome" ngModel type="text" name="nome" class="input"><br>
      <input placeholder="Cognome" ngModel type="text" name="cognome" class="input"><br>
      <input placeholder="Codice Fiscale" ngModel type="text" name="cf" class="input"><br>
      <input placeholder="Username" ngModel type="text" name="username" class="input"><br>
      <input placeholder="Città" ngModel type="text" name="citta" class="input"><br>
      <input placeholder="E-mail" ngModel type="email" name="email" class="input"><br>
      <input placeholder="Password" ngModel type="password" name="password" class="input"><br>
      <input placeholder="Conferma password" ngModel type="password" name="confermapsw" class="input"><br>
      <input type="submit" value="Registrati" class="registrati">
    </form>

  </div>
</ion-content>
