ion-content {
  --background: url('~src/assets/img/Backgroundimg.jpg');
}
.container {
  display: inline;
}

.saldo {
  width: 250px;
  height: 50px;
  padding-top: 10px;
  float: left;
}

.coin {
  border: solid;
  border-color: #1e2023;
  border-radius: 30px;
  background-color: #d33939;
  height: 30px;
  min-width: 70px;
  text-align: center;
  float: right;
  margin-right: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.barra-ricerca {

}

.divider-container {
  margin: 35px;
  display: block;
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.vaucher-container{
  margin: 50px;
  margin-top: -50px;
}
.grid{
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0%;
}

.vaucher {
  width: 90%;
  height: 90%;
  text-align: center;
  background-color: #f0f0f0;
  border: 0.1em solid grey;
  border-radius: 1.5em;
  box-shadow: 0.188em 0.188em 0.938em #575555;


  ion-card-title {
    color: #626262;
    font-size: large;
  }
}

.pointer{
  cursor: pointer;
}
