ion-content {
    --background: url('~src/assets/img/Backgroundimg.jpg');
}
#arrow {
    width: 2em;
    height: 2em;
}

#titoloesercente {
    text-align: center;
    font-weight: bold;
}

#tipoesercente {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
