<!-- Per utilizzare gli swipe / pan è stato necessario installare ed importare hammerjs -->
<ion-content (pandown)="closemodal()" id="corpodettaglio" padding>
  <ion-icon name="arrow-round-back" id="arrow" (click)="closemodal()"></ion-icon>
  <img src='assets/img/mp.jpg' alt="logoesercente">
  <br/>
  <h1 id="titoloesercente">{{ esercente.nome_attivita }}</h1>
  <h4 id="tipoesercente">{{ esercente.tipo_esercente }}</h4>
  <br/>
  <here-map appId="zoHfHSZNp6fW6zXeFNhr" appCode="PKJPamWWb6ASYw4qs2sxGw" [lat]="lat" [lng]="lng"></here-map>
</ion-content>
