<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notizie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p id="news">Novità</p>

  <ion-card *ngFor="let notizia of news" (click)="presentModal(notizia)">
    <ion-card-header>
      <ion-card-subtitle>{{ notizia.data }}</ion-card-subtitle>
      <ion-card-title id="titolo">{{ notizia.titolo }}</ion-card-title>
      <img src="assets/img/lamarianna.png" alt="logo" id="logo">
    </ion-card-header>
  </ion-card>

</ion-content>
