// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  rosinobello: #E94E58,
  griginobordo: #575555
);

//Classe per i modal per fare in modo chq questi vengano visualizzati in maniera "a carta" e non come pagina intera 
.customModal {
  background: rgba(0, 0, 0, 0.5);
  padding: 20% 10%;
  --border-radius: 0.7em;
}

#menutitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #E94E58;
}

#pagesmenulinks {
  font-weight: bold;
}
