ion-content {
  --background: url('~src/assets/img/Backgroundimg.jpg');
}

ion-row {
  justify-content: center;
}

.carousel-container {
  overflow: hidden;
}
.img-resp{
  width: 100%;
  height: auto;
}

.grafico {
  margin:auto;
  width: 100%;
  height: auto;
}

.canvas{

}

.col-card {
  margin-top: 1em;
  background-color: #ffffff;
  height: auto;
  border-radius: 0.625em;
  border: 0.1em solid grey;
  box-shadow: 0.188em 0.188em 0.938em #575555;
}

.card-description {
  text-align: center;
  font-size: 0.688em;
}

.pointer {
  cursor: pointer;
}



