ion-content {
  --background: url('~src/assets/img/Backgroundimg.jpg');
}

.carousel-container {
  overflow: hidden;
}
.img-resp{
  width: 100%;
  height: auto;
}



.grafico {
  margin:auto;
  width: 100%;
  height: auto;
}

.canvas{

}

.col-card {
  margin-top: 1em;
  background-color: #fff;
  height: auto;
}

.pointer {
  cursor: pointer;
}



