<app-customheader></app-customheader>

<ion-content>
  <div class="carousel-container">
    <ion-slides id="slider" pager="false">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <img class="img-resp" src="./assets/img/lamarianna.png" />
            </ion-col>
            <ion-col size="4">
            </ion-col>
            <ion-col size="4">
              <img class="img-resp" src="./assets/img/lamarianna.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>


    <div id="ion-card-punti">
      <div>
        <div>
          <div  class="grafico" style="display: block">
            <div class="sfondoGrafico">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
            </canvas>
            <div class="saldo">
              1000
            </div>
          </div>
          </div>
        </div>
      </div>

    </div>


  <ion-grid>
    <ion-row>
      <ion-col class="col-grid" size="5" size-lg="6">
        <ion-card class="col-card" routerLink="/inserisciscontrino">
          <ion-img src="assets/img/aggiungiscontrino.svg" alt="scontrino"></ion-img>
        </ion-card>
        <p class="card-description">Aggiungi scontrino</p>
      </ion-col>
      <ion-col class="col-grid" size="5" size-lg="6">
        <ion-card class="col-card" routerLink="/mieibuoni">
          <ion-img src="assets/img/imieibuoni.svg" alt="mieibuoni"></ion-img>
        </ion-card>
        <p class="card-description">I miei buoni</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-grid" size="5" size-lg="3">
        <ion-card class="col-card" routerLink="/catalogopremi">
          <ion-img src="assets/img/catalogo.svg" alt="catalogo"></ion-img>
        </ion-card>
        <p class="card-description">Catalogo</p>
      </ion-col>
      <ion-col class="col-grid" size="5" size-lg="3">
        <ion-card class="col-card" routerLink="/notizie">
          <ion-img src="assets/img/news.svg" alt="news"></ion-img>
        </ion-card>
        <p class="card-description">Notizie</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
