<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="carousel-container">
    <ion-slides id="slider" pager="true">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="3">
                <h1>Titolo</h1>
            </ion-col>
            <ion-col size="12" size-lg="7">
                <p>immagine del esercente</p>
            </ion-col>
            <ion-col size="12" size-lg="2">
                <p>bottone</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
    <!--
      <ion-img src="/assets/shapes.svg"></ion-img>
    -->
  </div>

  <ion-card id="ion-card-punti">

  </ion-card>

  <ion-grid>
    <ion-row>

      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>