<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="carousel-container">
    <ion-slides id="slider" pager="true">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
                <h3>News</h3>
            </ion-col>
            <ion-col size="7">
                <img class="img-resp" src="./assets/img/lamarianna.png"/>
            </ion-col>
            <ion-col size="2">
                <p>bottone</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
    <!--
      <ion-img src="/assets/shapes.svg"></ion-img>
    -->
  </div>
<ion-grid>

    <ion-row>
        <ion-col size="4"></ion-col>

      <ion-col size="4">
        <ion-card id="ion-card-punti">
          <h2>0</h2>
        </ion-card>
      </ion-col>
      <ion-col size="4"></ion-col>
        
    </ion-row>

  
    <ion-row>

      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
      <ion-col class="col-grid" size="6" size-lg="3">
        <a href="./catalogopremi">
          <ion-card class="col-card">
            <ion-img src="https://via.placeholder.com/150"></ion-img>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>