<app-customheader></app-customheader>

<ion-content padding>
  <ion-searchbar animated mode="ios" placeholder="Cerca..."></ion-searchbar>
  <ion-card *ngFor="let esercente of esercenti" (click)="presentModal(esercente)" class="pointer">
    <img src="" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{ esercente.indirizzo }}</ion-card-subtitle>
      <ion-card-title id="titolo">{{ esercente.nome_attivita }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ esercente.tipo_esercente }}</ion-card-content>
  </ion-card>

</ion-content>
