<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Elenco Esercenti</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Cerca..."></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="assets/img/mp.jpg" alt="mariellopp">
    <ion-card-header>
      <ion-card-subtitle>Test della card</ion-card-subtitle>
      <ion-card-title>Card bella</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Test di una ion card per vedere se è bella oppure è una cafonata
    </ion-card-content>
  </ion-card>

</ion-content>
