<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Elenco Esercenti</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Cerca..."></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let esercente of esercenti" (click)="presentModal(esercente)">
    <img src="" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{ esercente.indirizzo }}</ion-card-subtitle>
      <ion-card-title>{{ esercente.nome_attivita }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ esercente.tipo_esercente }}</ion-card-content>
  </ion-card>

</ion-content>
